[submodule "GLAD"]
	path = GLAD
	url = https://github.com/SanyaOgr/GLAD.git
[submodule "Artery/vendor/GLAD"]
	path = Artery/vendor/GLAD
	url = https://github.com/SanyaOgr/GLAD.git
[submodule "Artery/GLFW"]
	path = Artery/GLFW
	url = C:\\Users\\sanya\\dev\\Artery\\Artery\\vendor\\GLFW
