[submodule "GLAD"]
	path = GLAD
	url = https://github.com/SanyaOgr/GLAD.git
[submodule "Artery/vendor/GLAD"]
	path = Artery/vendor/GLAD
	url = https://github.com/SanyaOgr/GLAD.git
[submodule "Artery/vendor/GLFW"]
	path = Artery/vendor/GLFW
	url = https://github.com/SanyaOgr/GLFW.git
